.btn_submit{
  width: 100%;
  padding: 10px 20px;
  font-size: 1.2rem;
  margin-top: 30px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  background-color: rgb(32, 165, 14);
}

.change_content{
  position: relative;
  top: 20px;
  font-size: 14px;
  background-color:rgb(202, 202, 202);
  padding: 10px;
  text-decoration: underline;
  cursor: pointer;
  color: rgb(48, 148, 187);
}

.forgot_password{
  text-align: end;
  font-size: 14px;
  padding: 10px;
  text-decoration: underline;
  cursor: pointer;
  color: rgb(48, 148, 187);
}