.navbar_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;  
    margin: 0.5rem;
    padding: 0.3rem;
    text-decoration: none;
    font-size: 19px;
}

.items{
    padding: 7px 5px;
    color: #9a77cf;
    transition: 0.5s ;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.items:hover{
    border-radius: 5px;
    color: white;
    transform: scale(105%);
    text-decoration: none;
}
.items:active{
    color: #fff;
}

.active{
    border-radius: 5px;
    text-decoration: solid;
    border: none;
    font-size: 30px;/*
    transform: scale(125%);*/
}

.active li{
    color: #fff;
}

.active .items:hover{
    transform: scale(100%);
}