ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;  
    margin: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
}

.items{
    padding: 0.5rem;
    color: rgba(255, 255, 255, 0.6);
    transition: 0.5s ;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.items:hover{
    border-radius: 5px;
    color: white;
    transform: scale(105%);
    text-decoration: none;
}

ul .active{
    background-color: rgb(150, 57, 57)   ;
    border-radius: 5px;
    text-decoration: solid;
}