.page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.reloadButton{
  box-sizing: border-box;
  padding: 6px 35px;
  margin-left: 680px !important;
  font-size: 17px !important;
  border-radius: 8px !important;
  background-color: rgb(48, 172, 172);
}

.sec{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 3vw;
}

.card{
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.801);
  margin: 25px;
  border: solid 2px #000;
  border-radius: 15px;
  padding: 20px 30px;
  width: 30vw;
}

.card section div{
  font-size: 20px;
}

.card section div span:first-child{
  color: rgb(0, 0, 0);
  min-width: 9vw;
  display: inline-block;
  margin-top: 5px;
  font-weight: 600;
}

.button{
  box-sizing: border-box;
  padding: 8px 20px;
  margin: 15px 7px 0 7px !important;
  border-radius: 5px !important;
  border: none;
  font-size: 18px !important;
  color: #fff;
  background-color: #1f88a2;
}

.section .button{
  float: right;
  padding: 8px 30px;
}

