.search{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: none;
    margin-top: 3rem;
    transition: 0.5s;
}

.search:focus-within{
    transform: translateY(5px);
    box-shadow: 0 0.7rem 3rem rgba(163, 33, 33, 0.85);
}

.search input{
    margin-left: 2rem;
    border: none;
    outline: none;
    background-color: none;
    font-size: 1.4rem;
    width: 400px;
}

.btn_search{
    width: auto;
    border: none;
    padding: 1.25rem 2rem;
    border-radius: 25px;
    font-size: 1.4rem;
    transition: 1s;
    color: black;
}

.btn_search:hover{
    transform: scale(115%);
}

.btn_search span{
    padding-left: 5px;
}