.search{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    margin-top: 50px;
    transition: 0.5s;
    width: 500px;
    height: 50px;
    margin-left: 700px;
    margin-top: 50px;
}

.search:focus-within{
    transform: translateY(3px);
    box-shadow: 0 0.5rem 2rem #7B1FA2;
}

.search input{
    padding: 5px 15px;
    margin-left: 0rem;
    border: none;
    outline: none;
    background-color: none;
    width: 100%;
}

.btn_search{
    width: auto;
    border: none;
    border-radius: 5px;
    transition: 1s;
    color: black;
    box-sizing: border-box;
    background-color: transparent;
}

.btn_search:hover{
    transform: scale(115%);
}

.btn_search i{
    color: #949494;
    font-size: 35px;
    padding: 20px 15px;
}