#label{
    display: block;
    text-align: start;
    margin-bottom: 0.75rem;
    margin-top: 20px;
    font-size: 0.8rem;
}

.modal-input{
    min-width: 375px;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
}